*{
    font-family: 'Montserrat', sans-serif; 
}

/* ------------ Configuración Etiquetas ------------ */
body{
    margin: 0px;
    background-color: rgb(66,126,128);
    color: rgb(240,245,228);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
}

main{
    padding: 100px 0px;
}

p{
    color: black;
}

h1{
    background-color: rgb(45,45,45);
    text-shadow: 4px 4px black;
}

h2{
    text-shadow: 2px 2px rgb(21,68,84);
    font-size:40px ; 
    text-align: center;
}

footer{
    display: flex;
    align-items: center;
    background-color: rgb(31, 30, 30);
    height: 80px;
    justify-content: space-between;
    padding: 0px 40px;
    color: white;
}

header{
    display: flex;
    align-items: center;
    background: url(./assets/imagenes/codigo.jpeg) 20% 0 fixed ;
    background-size: cover;
    min-height: 500px;
    color: rgb(238,238,238);
    font-size: 28px;
    justify-content: space-around;
    padding: 0px 100px;
}

/* ------------ Clases Multi Paginas ------------ */
.textPos{
    text-align: center;
}

.boxyAxis{
    display: flex;
    align-items: center;
}

/* ------------ Configuracion Logo ------------ */
#lienzo{
    width: 150px;
    height: 80px;
}

rect#rec1, polygon#pol1{
    animation: animation_1 ease-in 4s;
    animation-iteration-count:1;
    fill: rgb(63, 103, 151);
}
    
rect#rec2, polygon#pol2 {
    animation: animation_2 ease-in 4s;
    animation-iteration-count:1;
    fill: rgb(177, 213, 228);
}

@keyframes animation_1{
    0% {
        transform: translate(0,-10px);
        opacity:0;}
    20% {
        transform: translate(0,-10px);
        opacity:0;}
    30% {
        transform: translate(0,0);
        opacity:1;}
    90% {
        transform: translate(0,0);
        opacity:1;}
    100% {
        transform: translate(0,0);
        opacity:1;}
}   

@keyframes animation_2 {
    0% {
        transform: translate(0,-10px);
        opacity:0;}
    30% {
        transform: translate(0,-10px);
        opacity:0;}
    40% {
        transform: translate(0,0);
        opacity:1;}
    90% {
        transform: translate(0,0);
        opacity:1;}
    100% {
        transform:translate(0,0);
        opacity:1;}
} 

/* ------------ Configuracion Navegador ------------ */
.menu-nav{
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.conf-menu{
    list-style-type: none;
}

.link, .botonVideo{
    box-shadow: 2px 3px rgb(21,68,84);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(240,245,228);
    color:rgb(54, 100, 116) ;
}

.conf-menu:active{
    transform: translate(3px, 2px);
}

.link:active{
    box-shadow: 2px 2px darkgrey;
}

/* ------------ Configuracion Pag Index ------------ */
.main-tarjeta{
    margin: 100px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.tarjeta{
    flex-direction: column;
    width: 350px;
    height: 400px;
    border: 5px solid rgb(21,68,84);
    background-color: rgb(240,245,228);
    justify-content: space-between;
}

.text-tarjeta{
    width: 90%;
    height: 30px;
}

.img-tarjeta{
    width: 100%;
}

.boton-ver{
    padding: 10px;
    border-radius: 10px;
    color:rgb(240,245,228);
    background-color: rgb(66,126,128);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 3px rgb(21,68,84);
    text-decoration: none;
    width: 40%;
    margin-bottom: 20px;
}

.boton-ver:active{
    box-shadow: 1px 1px gray;
    transform: translate(3px, 2px);
}

/* ------------ Configuración Foot ------------ */
.footer-conf{
    display: flex;
    justify-content: space-between;
    width:300px;
    height: 80px;
}

.titulo-foot{
    font-size: 14px;
    margin-top: 18px;
}
#logo{
    height: 80%;
    margin-top: 8px;
}
/* ------------ Configuracion Pag Historia ------------ */
.main-hist{
    flex-direction: column;
    justify-content: center;
}

.text-hist{    
    padding:80px 50px;
    gap: 20px;
    justify-content: space-around;
}

.sizeText{
    width: 45%;
}

/* ------------ video ------------ */
.contenedorVideo{
    padding: 100px 0px;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: rgb(31, 30, 30);
    border-radius: 10px;
    padding: 2px 5px;
}

.botonera{
    display: flex;
    gap: 20px;
}
.container{
    padding: 5px;
    width: 70%;
    background-color: black;
}

#play,#pause{
   width: 80px;
}

.botonVideo:active{
    box-shadow: 1px 1px darkgray;
    transform: translate(3px, 2px);
}

#tiempo{
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------ Configuracion Pag Juego ------------ */
.juego{
    flex-direction: column;
}

.puzzle{
    display: flex;
    flex-direction: row;
}

#puzzle1,#puzzle2,#puzzle3{
    display: inline-block;
    text-align: center;
    height: 400px;
    width: 275px;
    background-color: grey;
    border: 2px solid black;
}

#puzzleimagenes{
    gap: 10px;
    margin: 40px;
}

#img1,#img2,#img3{
    width: 275px;
    height: 400px;
}

.reinicio{
    display: flex;
    margin: auto;
    padding: 10px 100px;
}